@font-face { font-family: Anarchaos; src: url('Anarchaos.otf'); };

#newfont {
    font-family: "Anarchaos";
}

h1 {
    font: 60px "Anarchaos";
}

h2, h3 {
    font-family: "Courier New";
}

p {
    font-family: "Courier New";
}

body {
    background-color: #770354;
    
}

/* table */

th, td {
    border: 1px;
    border-style: dotted;
    font-family: "Courier New";
}

table {
    margin-left: auto;
    margin-right: auto;
}

/* box*/

.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    background-image: url(photos/header.jpeg);
    
}

.content {
    display: block;
    background-color: #000000;
    color: white;
    padding: 10px;
    min-height: 600px;
}

.footer {
    background-color: #430430;
    text-align: center;
    color: white;
    font-family: "Courier New";
}
/* Menu */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-family: "Courier New";
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #41413f;
}

.active {
    background-color: rgba(152, 2, 107, 0.44);
}

/*Gallery*/
div.gallery {
    border: 1px solid white;
    
}

div.gallery:hover {
    border: 1px solid #ba7167;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.responsive {
    padding: 6px 6px;
    float: left;
    width: 24.99999%;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}